.nav {
	// position: absolute;
	// background: #ffffff;
	box-shadow: 0px 12px 20px rgba(160, 121, 0, 0.2);
}

.logo {
	padding: auto;
}


.signupButton {
	border-radius: 25px !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.loginButton {
	color: #219700;
	display: block;
	text-decoration: none !important;
	margin-right: 20px;
}