.nav {
	// position: absolute;
	// background: #ffffff;
	box-shadow: 0px 12px 20px rgba(160, 121, 0, 0.2);
}

.logo {
}


.signupButton {
	border-radius: 25px !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.loginButton{
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	margin-right: 20px;
}

.loginButton:hover {
	background-color: white;
}