.brand-img{
  border: none;
  border-radius: 50%;
  height: 70%;
 align-self:center;
}

.whatsapp{
  color: #008000;
}
.phone{
  color: #008000;
}

.barcode{
  color:#008000;

}

.comment{
  color: #008000;

}



// .product-img{
//   width: 120px;
//   margin-top: 50px;
// }

// .brand-name{
//   margin-top: 60px;
//   margin-left: 20px;
// } 
  



// .details-location{
//   position: relative;
//   bottom: 10px;
//   margin-left: 10px;
// }

// .Bio{
//   position: relative;
//   bottom: 20px;
//   margin-left: 10px;
// }

// .icon{
//   font-size: 10px;
//   margin-left: 100px;
//   margin-top: 50px;
// }

