.signupBtn{
<<<<<<< HEAD
  border-radius: 20px !important;
  width: 7rem;
}
.submitBtn{
  width:25rem;
  
  border-radius: 24px;
}

.signup{
  text-decoration: none;
  color:green;
}
=======
    border-radius: 20px !important;
    width: 7rem;
  }
  .submitBtn{
    width:25rem;
    
    border-radius: 24px;
  }
  
  .signup{
    text-decoration: none;
    color:green;
  }
>>>>>>> 60c958b02e76dda4be7b78c1279bc27f41f52a8a
